.App {
min-height: 100vh;
background-color: #CFC7D2;
}

.search-form {
  display: flex;
  justify-content: left;
  padding: 0 15vh;
  flex-direction: column;
  max-width: 60vw;
}

.search {
  min-width: 45%;
  margin-bottom: 15px;
  margin-top: 20px;
  height: 40px;
}

.search-button {
  min-width: 45%;
  height: 40px;
  margin-bottom: 30px;
  border: none;
  border-radius: 2px;
  background-color: #D4CBE5;
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.3);;
}

.search-button:hover {
  box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.4);
}

.content {
  display: flex;
  place-content: space-between;
}

img {
  margin: 0px 25px 0px 25px;
  border-radius: 2px;
}