.App {
min-height: 100vh;
background-color: #CFC7D2;
}

.search-form {
  display: flex;
  justify-content: left;
  padding: 0 15vh;
  flex-direction: column;
  max-width: 60vw;
}

.search {
  min-width: 45%;
  margin-bottom: 15px;
  margin-top: 20px;
  height: 40px;
  border: 2px solid #D4CBE5;
  box-shadow: 0px 2px 6px 0px #bea8aa9e;
  transition: box-shadow  0.2s;
  transition: border 0.2s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  -khtml-border-radius: 3px;
  background: #CFC7D2!important; 
  outline: none; 
  color: #7C7F65; 
  font-size: 20px;
}

.search:hover {
  box-shadow: 0px 4px 6px 0px #bea8aa9e;
}

.search:focus {
  border: 3px solid #D4CBE5;
}

.search-button {
  min-width: 45%;
  height: 40px;
  margin-bottom: 30px;
  border: none;
  border-radius: 2px;
  background-color: #D4CBE5;
  box-shadow: 0px 3px 4px 0px #38363d44;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: box-shadow  0.2s;
  font-size: 20px;
  letter-spacing: .1rem;
  color:  #22222291;
}

.search-button:hover {
  box-shadow: 0px 4px 10px 0px #38363d44;
  background-color: #d6cde7;
}

.content {
  display: flex;
  place-content: space-between;
  border: 2px solid #D4CBE5;
  box-shadow: 0px 2px 6px 0px #bea8aa9e;
  border-radius: 5px;
  transition: box-shadow  0.2s;
}

.content:hover {
  box-shadow: 0px 4px 6px 0px #bea8aad0;
}

img {
  margin: 25px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px #bea8aa9e
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #CFC7D2;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color:#bfb2d6;
  box-shadow: 0px 4px 6px 0px #bea8aad0;
}
 

@media only screen and (max-width: 1280px) {

  .content {
    display: grid;
  }

  img {
    margin-top: 30px;
  }

}

/* @media only screen and (max-width: 600px) {
 .App {
    background-color: lightblue;
  }
} */